@import "global-style.css";

.detailField {
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

Label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-alignment: center-right;
}

.detailVBox {
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-spacing: 5;
}

.textAsterisco {
    -fx-font-size: 12;
    -fx-fill:  #3A5F7D;
}