/* -- Text -- */

.textAsterisco {
    -fx-fill: #3A5F7D;
}

.textSecondari {
    -fx-font-size: 10;
    -fx-fill:  #3A5F7D;
}

/* VBox */

.tipsVBox {
    -fx-max-width: 300;
    -fx-min-width: 300;
}