@import "global-style.css";


#apriMappaButton {
    -fx-pref-height: 20;
    -fx-pref-width: 60;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

#indirizzoTextField {
    -fx-border-radius: 3px 0 0 3px;
    -fx-background-radius: 3px 0 0 3px;
}


.tipsVBox {
    -fx-max-width: 300;
    -fx-min-width: 300;
}

#indirizzoHBox {
    -fx-spacing: 0;
}


.textAsterisco {
    -fx-fill: #3A5F7D;
}


.textSecondari {
    -fx-font-size: 10;
    -fx-fill:  #3A5F7D;
}

#descrizioneTextArea {
    -fx-max-width: 285;
    -fx-min-width: 285;
    -fx-pref-width: 285;
    -fx-max-height: 60;
    -fx-min-height: 60;
    -fx-pref-height: 60;
}

HBoxDescrizioneField {
    -fx-spacing: 5;
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-max-height: 60;
    -fx-min-height: 60;
}