* {
    -fx-font-family: "Verdana";
}

Button {
    -fx-background-color: #6c93c4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #5075a0;
}

Button:pressed {
    -fx-background-color: #3f648f;
}

.secondaryBackground {
    -fx-background-color: #EAF3FA;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.2) , 15 , 0 , 0 , 0 );
}

TextField {
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

.textSecondari {
    -fx-font-size: 10;
    -fx-fill:  #3A5F7D;
}

.textAsterisco {
    -fx-fill: #3A5F7D;
}