@import "global-style.css";

.searchButton {
    -fx-max-height: 28;
    -fx-min-height: 28;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-max-width: 28;
    -fx-min-width: 28;
    -fx-border-radius: 0px 3px 3px 0px;
    -fx-background-radius: 0px 3px 3px 0px;
}

.searchTextField {
    -fx-border-width: 0;
}

#backgroundFilterRow {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.filterGroupVBox {
    -fx-spacing: 5;
    -fx-padding: 5 10 5 10;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
}

.filterGroupHBox {
    -fx-spacing: 10;
}

.priceRangeVBox {
    -fx-spacing: 5;
    -fx-padding: 10;
}

.arrowButton {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.arrowButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.arrowButton > .graphic {
    -fx-padding: 0;
}

.HBoxCheckBoxFilter {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 4 5 4 5;
    -fx-spacing: 8;
}

.filterCustomMenuItem {
    -fx-background-color: white;
    -fx-border-color: #ccc;
}

.filterCustomMenuItem:hover {
    -fx-background-color: white;
    -fx-border-color: #ccc;
}

.navbarGridPane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.1) , 5 , 0 , 0 , 2 );
}

#backgroundNavbarRow {
    -fx-background-color: #c0dff3;
}

#listaAnnunciAnchorPane {
    -fx-padding: 20 20 5 20;
}

#listaAnnunciFlowPane {
    -fx-spacing: 30;
}

.annuncioHBox {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #2e2e2e;
    -fx-alignment: center;
    -fx-background-color: white;
}

.annuncioImageStackPane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
    -fx-pref-height: 200;
    -fx-max-height: 200;
    -fx-min-height: 200;
    -fx-pref-width: 200;
    -fx-max-width: 200;
    -fx-min-width: 200;
    -fx-alignment: center;
}

.annuncioImageView {
    -fx-fit-width: 200;
    -fx-fit-height: 200;
    -fx-max-height: 200;
    -fx-min-height: 200;
    -fx-max-width: 200;
    -fx-min-width: 200;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.annuncioDetailVBox {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center-left;
}

.annuncioTitle {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.prezzoAnnuncio {
    -fx-font-size: 17;
}

.detailAnnuncioFlowPane {
    -fx-spacing: 50;
    -fx-pref-width: 400;
    -fx-vgap: 3;
}

.detailWithIconHBox {
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-pref-width: 200;
}

.textDetailAnnuncio {
    -fx-font-size: 15;
}

.iconDetailAnnuncio {
    -fx-fit-width: 25;
    -fx-fit-height: 25;
}

.annuncioButtonsHBox {
    -fx-spacing: 20;
}